html *{
	line-height: 1.4em;
}

p{
	font-size: 1.2em;
}
h1, h2{
	font-family: $headingFont;
}
p{
	font-family: $bodyFont;
	font-size: 1.5em;
}

h1{
	font-size: 3.5em;
	margin: 1em 0 10px 0;
}
h2{
	font-size: 2.3em;
	margin: 0 0 20px 0;
}

h1, h2{
	color: $brand;
	text-align: center;
	line-height: 1.2;
	text-transform: uppercase;
	font-family: $headingFont;
}
