#app[data-state="fail"]{
  #dude > .graphic{
      background-image:
        url(../images/fail.png) ,
        url(../images/dude-puking.png);
      background-position: 
        90% 50%,
        50% 50%;

      transform: rotate(0deg) !important;
  }
  
  #startBtn{
    &:before{
      content: "Again?";
    }
    opacity: 1;
  }
  
  #counter{
    display: none;

  }

  #passFail,
   .message.fail{
    opacity: 1;
  }

  .message.pass{
    display: none;
  }
}
