#app[data-state="splash"]{
 
 #splash{
    position: fixed;
    z-index: 9999;

    width: 100%;
    height: 100%;
    background-image: 
      url(../images/logo.png), 
      url(../images/congruent_outline.png);
    background-repeat: 
      no-repeat, 
      repeat;
    background-size: 
      90%, 
      contain;
    background-position: 
      center 30%, 
      center center;
    box-shadow: 0 -62px 123px 72px rgba(0, 0, 0, 0.5) inset  ;

    &.no-support{
      .msg{
        display: block;
        color: #ccc;
        padding: 80% 5% 0 5% ;
        text-align: center;
      }
    }
  } 
}