#app[data-state="ready"]{
  #dude > .graphic{
    -webkit-transform: rotate(0deg) !important;
  }
  #startBtn{
    opacity: 1;
  	display: inline-block;
    &:before{
      content: "Start!";
    }
  }
  #counter{
    opacity: .2;
  }

}
