#app[data-state="active"]{
  
  #dude > .graphic{}

  #startBtn{
    opacity: .2;
    &:before{
      content: "WALK";
    }
  }

  #counter{
  	opacity: 1;
  } 
  
  #passFail, .message{
    transition: none;
    transition-delay: 0;
    opacity: 0;
  }
  
  .message{
    display: block;
  }
}
