/*MAIN SASS FILE*/
/*COLORS*/
/*FONTS*/
/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* VENDOR PREFIXES*/
/* MEDIA QUERIES */
/* INPUTS  */
/* LINKS */
/* BUTTONS */
/* line 62, sass/global/_mixins.scss */
#footer button {
  -webkit-transition: background-color 0.15s ease-in;
  -moz-transition: background-color 0.15s ease-in;
  -o-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
  font-family: Impact, Arial;
  border: none;
  outline: none;
  margin: 0;
  padding: .4em 1em;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

/* line 113, sass/global/_mixins.scss */
[data-fade] {
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
}

/* line 117, sass/global/_mixins.scss */
[data-fade].show {
  opacity: 1;
}

/* line 120, sass/global/_mixins.scss */
[data-fade=".25"] {
  -webkit-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

/* line 121, sass/global/_mixins.scss */
[data-fade=".50"] {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

/* line 122, sass/global/_mixins.scss */
[data-fade=".75"] {
  -webkit-transition-delay: 0.75s;
  -moz-transition-delay: 0.75s;
  -o-transition-delay: 0.75s;
  transition-delay: 0.75s;
}

/* line 123, sass/global/_mixins.scss */
[data-fade="1"] {
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

/* line 124, sass/global/_mixins.scss */
[data-fade="1.25"] {
  -webkit-transition-delay: 1.25s;
  -moz-transition-delay: 1.25s;
  -o-transition-delay: 1.25s;
  transition-delay: 1.25s;
}

/* line 125, sass/global/_mixins.scss */
[data-fade="1.5"] {
  -webkit-transition-delay: 1.5s;
  -moz-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s;
}

/* line 126, sass/global/_mixins.scss */
[data-fade="1.75"] {
  -webkit-transition-delay: 1.75s;
  -moz-transition-delay: 1.75s;
  -o-transition-delay: 1.75s;
  transition-delay: 1.75s;
}

/* line 127, sass/global/_mixins.scss */
[data-fade="2"] {
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
}

/* line 128, sass/global/_mixins.scss */
[data-fade="2.25"] {
  -webkit-transition-delay: 2.25s;
  -moz-transition-delay: 2.25s;
  -o-transition-delay: 2.25s;
  transition-delay: 2.25s;
}

/* line 129, sass/global/_mixins.scss */
[data-fade="2.5"] {
  -webkit-transition-delay: 2.5s;
  -moz-transition-delay: 2.5s;
  -o-transition-delay: 2.5s;
  transition-delay: 2.5s;
}

/* line 130, sass/global/_mixins.scss */
[data-fade="2.75"] {
  -webkit-transition-delay: 2.75s;
  -moz-transition-delay: 2.75s;
  -o-transition-delay: 2.75s;
  transition-delay: 2.75s;
}

/* line 131, sass/global/_mixins.scss */
[data-fade="3"] {
  -webkit-transition-delay: 3s;
  -moz-transition-delay: 3s;
  -o-transition-delay: 3s;
  transition-delay: 3s;
}

/* line 132, sass/global/_mixins.scss */
[data-fade="4"] {
  -webkit-transition-delay: 4s;
  -moz-transition-delay: 4s;
  -o-transition-delay: 4s;
  transition-delay: 4s;
}

/* line 133, sass/global/_mixins.scss */
[data-fade="5"] {
  -webkit-transition-delay: 5s;
  -moz-transition-delay: 5s;
  -o-transition-delay: 5s;
  transition-delay: 5s;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 7, sass/global/_helpers.scss */
.show {
  opacity: 1;
}

/* line 12, sass/global/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
  text-indent: -9999px;
}

/* line 20, sass/global/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 27, sass/global/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 32, sass/global/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 44, sass/global/_helpers.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 53, sass/global/_helpers.scss */
.invisible {
  visibility: hidden;
  opacity: 0;
}

/* line 59, sass/global/_helpers.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 64, sass/global/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 68, sass/global/_helpers.scss */
.clearfix {
  *zoom: 1;
}

/* line 2, sass/appStates/_app.scss */
* {
  box-sizing: border-box;
}

/* line 4, sass/appStates/_app.scss */
body, html {
  height: 100%;
}

/* line 7, sass/appStates/_app.scss */
body {
  background: #ccc;
  background-image: url(../images/congruent_outline.png);
}

/* line 12, sass/appStates/_app.scss */
.debug {
  display: none;
}

/* line 16, sass/appStates/_app.scss */
.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
}

/* line 26, sass/appStates/_app.scss */
#splash {
  display: none;
}

/* line 31, sass/appStates/_app.scss */
#dude {
  -webkit-box-flex: 10;
  -moz-box-flex: 10;
  -ms-box-flex: 10;
  box-flex: 10;
  position: relative;
}
/* line 34, sass/appStates/_app.scss */
#dude .graphic {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../images/dude-white-shadow.png);
  -webkit-transition-duration: .1s;
  -webkit-transition-property: -webkit-transform;
  -webkit-transform-origin: 50% 95%;
}

/* line 50, sass/appStates/_app.scss */
#footer {
  -webkit-box-flex: 0.1;
  -moz-box-flex: 0.1;
  -ms-box-flex: 0.1;
  box-flex: 0.1;
  position: relative;
  z-index: 9999;
  max-height: 60px;
  min-height: 60px;
  padding: 10px 5%;
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
}
/* line 59, sass/appStates/_app.scss */
#footer #log {
  display: none;
  padding: 5px;
  background: rgba(0, 0, 0, 0.25);
}
/* line 63, sass/appStates/_app.scss */
#footer #log.show {
  display: inline-block;
}
/* line 67, sass/appStates/_app.scss */
#footer button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-family: Impact, Arial;
  color: #666666;
  background-color: white;
  padding: 5px;
  font-size: 18px;
  width: 130px;
  text-align: center;
  margin-right: 30px;
  display: inline-block;
}
/* line 80, sass/global/_mixins.scss */
#footer button:hover {
  background-color: #cccccc;
}

/* line 2, sass/appStates/_appReady.scss */
#app[data-state="ready"] #dude > .graphic {
  -webkit-transform: rotate(0deg) !important;
}
/* line 5, sass/appStates/_appReady.scss */
#app[data-state="ready"] #startBtn {
  display: block;
}
/* line 7, sass/appStates/_appReady.scss */
#app[data-state="ready"] #startBtn:before {
  content: "Start!";
}

/* line 2, sass/appStates/_appFail.scss */
#app[data-state="fail"] #dude > .graphic {
  background-image: url(../images/dude-puking.png);
  -webkit-transform: rotate(0deg) !important;
}
/* line 6, sass/appStates/_appFail.scss */
#app[data-state="fail"] #startBtn {
  display: block;
}
/* line 8, sass/appStates/_appFail.scss */
#app[data-state="fail"] #startBtn:before {
  content: "Try Again?";
}

/* line 5, sass/appStates/_appActive.scss */
#app[data-state="active"] #startBtn {
  display: none;
}
/* line 7, sass/appStates/_appActive.scss */
#app[data-state="active"] #startBtn:before {
  content: "";
}
