/*MAIN SASS FILE*/

/*COLORS*/
$bodyColor: #888;
$white: rgb(255,255,255);		//#fff;
$black: rgb(0,0,0);		 		//#000;
$med:  	#ccc;			
$dark:  rgb(34,34,34);			//#222
$brand2nd: rgb(21,123,178);		//#157BB2
$brand: #39b54a; 		
$brandHL: rgb(255,155,25);		//#FF9B19
$containerShadow: 0 -32px 200px 20px rgba(0, 0, 0, 0.9) inset;
/*FONTS*/
$bodyFont: sans-serif;
$headingFont: Impact, Arial;
$formFont: Arial, sans-serif;

@import 'compass';
@import 'compass/reset';
@import "compass/css3/user-interface";
@import 'global/mixins';
@import 'global/helpers';
@import 'appStates/app';
@import 'appStates/appLoading';
@import 'appStates/appSplash';
@import 'appStates/appReady';
@import 'appStates/appFail';
@import 'appStates/appPass';
@import 'appStates/appActive';
